.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #061058;
  font-family: 'Poppins';
}

.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: 0.3s;
  transform: translateY(-5px);
}

#loading {
  font-size: 50px;
  width: 300px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  color: #061058;
  font-weight: 600;
}

.search-input {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  height: 50px;
  margin-top: 20px;
  font-family: 'Poppins';
  padding-left: 10px;
}

.search-bar {
  text-align: center;
  line-height: 4;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.btn {
  display: initial;
}

.hide {
  width: 0px;
  display: none!important;
  height: 0px;
  visibility: hidden;
}

.Name {
  font-weight: 600;
}

