.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.card {
  width: 300px;
  height: 180px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  color: #061058;
  font-family: 'Poppins';
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(33,48,165,0.3);
  transition: 0.2s;
  transform: translateY(-10px);
}

#loading {
  font-size: 50px;
  width: 300px;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  color: #061058;
  font-weight: 600;
}

.search-input {
  width: 78%;
  margin-top: 10px;
  border-top-left-radius: 10px;
  border: none;
  height: 50px;
  font-family: 'Poppins';
  padding-left: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(160,160,160,0.56);
  margin-bottom: 10px;
}

.search-bar {
  text-align: center;
  line-height: 4;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: 0.3s;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.btn {
  display: initial;
}

.hide {
  width: 0px;
  display: none!important;
  height: 0px;
  visibility: hidden;
}

.Name {
  font-weight: 600;
  margin-bottom: 15px;
}

.search-btn {
  background-color: black;
  height: 50px;
  border: none;
  border-radius: 0px;
  transform: translate(0px,-1.5px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: none;
}

.search-btn:focus {
  border: none;
  background-color: black;
  box-shadow: none;
}

.search-btn:active {
  border: none;
  background-color: black;
  box-shadow: none;
}

.search-btn:hover {
  background-color: black;
  box-shadow: none;
}

.spacer {
  height: 80px;
}

.after-scroll {
  background-color: rgba(104,123,159,0.53);
  transition: 0.3s;
}

.emailID {
  margin-bottom: 8px;
}

.phn {
  margin-bottom: 8px;
}

.city {
  margin-bottom: 8px;
}

